<div class="bg">
    <div class="container rounded" style="background-color: white;">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4" *ngIf="isAuthorized">
              <a class="navbar-brand" href="/home">ABC Return Order Management</a>
            </span>
            <span class="fs-4" *ngIf="!isAuthorized">
              <a class="navbar-brand" href="/">ABC Return Order Management</a>
            </span>
          </a>
          
          <div *ngIf="displayNav">
            <ul class="nav nav-pills" *ngIf="isAuthorized">
              <li class="nav-item"><button (click)="goHome()" class={{homenav}}>Home</button></li>
              <li class="nav-item"><button (click)="newReq() "class={{processnav}}>New Request</button></li>
              <li class="nav-item"><button (click)="viewAllReq()" class={{reqListnav}}>View Completed Request</button></li>
              <li class="nav-item"><button (click)="logout()" class="btn btn-warning">Logout</button></li>
            </ul>
          </div>
      </header>
    </div>
</div>
    
  